
<h2>Liste des contacts</h2>
<ul>
  <% for (let c of contacts) { %>
  <li>
    <%= c.prenom %> <%= c.nom %>
    <a href="/contacts/<%= c.id %>">Afficher</a>
    <a href="/contacts/<%= c.id %>/delete">Supprimer</a>
  </li>
  <% } %>
</ul>
